
<div class="login-page">
  

  <!-- Left Side -->
  <div class="login-left">
    <div class="overlay">
      <img src="assets/logo.png" class="logo" alt="College Logo">

      <h1>ERP - Tool99</h1>

      <p>
        Manage Admissions, Students, Faculty, Attendance,
        Fees, Examinations and Reports from one platform.
      </p>

      <div class="features">
        <div>✔ Smart Campus Management</div>
        <div>✔ Secure & Cloud Based</div>
        <div>✔ Student & Faculty Portal</div>
      </div>
    </div>
   
  </div>

  <!-- Right Side -->
  <div class="login-right">

    <div class="login-card" *ngIf="!showForgotPassword">

      <h2>Welcome Back</h2>

      <p class="subtitle">
        Sign in to continue
      </p>

      <form>

        <div class="input-group">
          <label>Email Address</label>
         <input type="email" [(ngModel)]="email" name="email" [disabled]="otpSent"  placeholder="Enter Email">   </div>

        <div class="input-group">
          <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Password">
        </div>

     

        
  <button
    type="button"
    (click)="login()">

    Login

  </button>


  <!-- OTP -->

  <div class="input-group" *ngIf="otpSent">

    <label>Enter OTP</label>

    <input
      type="text"
      maxlength="6"
      [(ngModel)]="otp"
      name="otp"
      placeholder="Enter OTP">

  </div>

  <!-- Verify Button -->

  <button
    type="button"
    (click)="verifyOTP()">

    Verify OTP

  </button>

        <div class="options">
          <label>
            <input type="checkbox">
            Remember Me
          </label>

          <a href="#" (click)="openForgotPassword($event)">Forgot Password?</a>
        </div>


      </form>

    </div>
    

  </div>


  <!-- Forgot Password Modal -->
<div class="login-right">

<div class="login-card forgot-card" *ngIf="showForgotPassword">

    <div class="forgot-header">


        <h2>Forgot Password</h2>

        <p>Reset your password using OTP verification.</p>

    </div>

    <!-- Step 1 -->

    <div *ngIf="!forgotOtpSent">

        <div class="input-group">
            <label>Email Address</label>

            <input
                type="email"
                [(ngModel)]="forgotEmail"
                placeholder="Enter Registered Email">
        </div>

        <button (click)="sendForgotOTP()">
            Send OTP
        </button>

    </div>

    <!-- Step 2 -->

    <div *ngIf="forgotOtpSent && !forgotOtpVerified">

        <div class="input-group">
            <label>OTP</label>

            <input
                maxlength="6"
                [(ngModel)]="forgotOTP"
                placeholder="Enter OTP">
        </div>

        <button (click)="verifyForgotOTP()">
            Verify OTP
        </button>

    </div>

    <!-- Step 3 -->

    <div *ngIf="forgotOtpVerified">

        <div class="input-group">
            <label>New Password</label>

            <input
                type="password"
                [(ngModel)]="newPassword">
        </div>

        <div class="input-group">
            <label>Confirm Password</label>

            <input
                type="password"
                [(ngModel)]="confirmPassword">
        </div>

        <button (click)="updatePassword()">
            Update Password
        </button>

    </div>

    <div class="back-login">

        <a href="#" (click)="showForgotPassword = false; $event.preventDefault()">
            ← Back to Login
        </a>

    </div>

</div>

</div>
</div>

